
.container{

    border: 1px;
    width: 100%;
    margin: 0 auto;


}


.card{
    align-items: center;
    text-align: center;
    border-radius: 20px;
    width: 300px;
    margin: 10px;
    display: table;
    margin: 0 auto;
    margin-top: 10px;
}
/*this need be fixed*/
img{
    height: 100px;
}

.card-deck {
    margin: 20px;
}


.card-img-top {
    width: 100%;
    object-fit: scale-down;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#accept-btn{
    background-color: white;
    border-color: green;
    color: green;
    margin: 10px 10px 10px 10px;
}

#accept-btn:hover{
    background-color: green;
    color: white;
}

#reject-btn{
    background-color: white;
    border-color: red;
    color: red;
    margin: 10px 10px 10px 10px;
}

#reject-btn:hover{
    background-color: red;
    color: white;
}

.btn-primary{
    background-color: white;
    border-width: 1.8px;
    color: rgb(0, 110, 255);
    border-color: rgb(0, 110, 255);
}

.btn-primary:hover{
    background-color: rgb(0, 110, 255);
    color: white;
}


.title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

.popup {
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    position: relative;
    transition: all 5s ease-in-out;
    text-align: center;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: orange;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

.overlay {
    opacity: 0;
    pointer-events: none;
}

.overlay:target {
    transition: opacity 500ms;
    opacity: 1;
    pointer-events: all;
}

.move{
    position: center;
}
