<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}">
    <link rel="stylesheet" href="../static/css/chat.css" th:href="@{/css/chat.css}">
    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{/css/reset.css}">


</head>


<main>
    <header th:replace="commonComponents :: header"></header>

    <div class="chatContainer">
        <header>

            <div class="title">
                <p>Message</p>

            </div>


        </header>

        <div class="container">

            <div class="userWindow">

                <div class="userHead">
                    <h3>Mentor</h3>

                </div>

                <div th:if="${mentor != null}">
                    <div class="userList">
                        <a th:each="menteeC:${mentor.getConnectedMentees()}" th:href="@{'/getChat/'+${menteeC.getMentor().getUser().getTestProfile().name}}" th:text="${menteeC.getMentee().getUser().getTestProfile().name}"  >Fatin</a>
                    </div>
                </div>
                <div th:unless="${mentor != null}">
                    <div th:if="${mentee.getCurrentMentor().getMentor() != null}" class="userList">
                        <a  th:text="${mentee.getCurrentMentor().getMentor().getUser().getTestProfile().name}" th:href="@{'/getChat/'+${mentee.getCurrentMentor().getMentor().getUser().getTestProfile().name}}"  >Fatin</a>
                    </div>

                    <div th:unless="${mentee.getCurrentMentor().getMentor() != null}" class="userList">
                        <p>Not connected to Mentor</p>
                    </div>

                </div>
            </div>

            <div class="chatWindow">

                <div th:if="${relation != null}" class="chat">
                    <div  class="message incoming" th:each="message: ${relation.getMessages()}">
                        <h5 th:value="${message.who}">Jarvis</h5>
                        <p th:value="${message.message}">Hello Ultron</p>
                    </div>
                    <div id="add_before_me">

                    </div>

                    <!--          <div class="message outgoing">-->
                    <!--            <h5>Veronica</h5>-->
                    <!--            <p>Welcome Jarvis</p>-->

                    <!--          </div>-->
                </div>

                <!-- <form action="">-->
                   <div th:if="${relation != null}" class="userInput">
                       <input type="text" placeholder="Type your message" id="message">
                       <button onclick="send()">SEND</button>
                   </div>
                <!-- </form>-->
                <div th:unless="${relation != null}">
                </div>

            </div>

            <script>
            function send(){
              var message = document.getElementById("message").value;
              document.getElementById("message").value="";
              console.log(message);

              document.getElementById("add_before_me").insertAdjacentHTML("beforeend",
                "<div  class='message outgoing'><h5>You</h5><p>"+message+"</p></div>");
                }
        </script>

        </div>

    </div>

 </main>





 </html>