<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../static/css/navBar.css" th:href="@{/css/navBar.css}">
  <link rel="stylesheet" href="../static/css/chat.css" th:href="@{/css/chat.css}">
  <link rel="stylesheet" href="../static/css/reset.css" th:href="@{/css/reset.css}">




</head>


<main>
    <header th:replace="commonComponents :: header"></header>


    <h2 th:text="''"></h2>

    <div class="chatContainer">
      <header>

        <div class="title">
          <p>Message</p>

        </div>


      </header>

      <div class="container">

        <div class="userWindow">

          <div class="userHead">
            <h3>Mentor</h3>

          </div>

          <div th:if="${mentor != null}">
            <div class="userList">
              <a th:each="menteeC:${mentor.getConnectedMentees()}" th:href="@{'/getChat/'+${menteeC.getMentor().getUser().getTestProfile().name}}" th:text="${menteeC.getMentee().getUser().getTestProfile().name}"  >Fatin</a>
            </div>
          </div>
          <div th:unless="${mentor != null}">
            <div th:if="${mentee.getCurrentMentor().getMentor() != null}" class="userList">
              <a  th:text="${mentee.getCurrentMentor().getMentor().getUser().getTestProfile().name}" th:href="@{'/getChat/'+${mentee.getCurrentMentor().getMentor().getUser().getTestProfile().name}}"  >Fatin</a>
            </div>

            <div th:unless="${mentee.getCurrentMentor().getMentor() != null}" class="userList">
              <p>Not connected to Mentor</p>
            </div>

          </div>


        </div>

        <div class="chatWindow" th:if="${Me}">

          <div th:if="${relation != null}" class="chat">
            <div  class="message incoming" th:each="message: ${relation.getMessages()}">
              <h5 th:value="${message.who}">Jarvis</h5>
              <p th:value="${message.message}">Hello Ultron</p>
            </div>

            <div class="message outgoing">
              <h5>Veronica</h5>
              <p>Hello</p>

            </div>
          </div>

          <form action="">
            <div th:if="${relation != null}" class="userInput">
              <input type="text" placeholder="Type your message">
              <button>SEND</button>
            </div>
          </form>
          <div th:unless="${relation != null}">
            sdf
          </div>

        </div>


      </div>

    </div>

  </main>





</html>