<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../static/css/navBar.css" th:href="@{/css/navBar.css}">
  <link rel="stylesheet" href="../static/css/reset.css" th:href="@{/css/reset.css}">

  <link rel="stylesheet" href="../static/css/viewRequests.css" th:href="@{/css/viewRequests.css}">


</head>
<body>

<header th:replace="commonComponents :: header"></header>

<div class="container text-center">
  <h1>Send Request</h1>

  <div class="searchContainer ">
      <form  th:action="@{/getMentor}">
        <div class="input-group md-form form-sm form-2 pl-0">
              <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search" name="name">
              <button type="submit" class="btn btn-outline-primary">search</button>

        </div>
      </form>
    <h2 th:if="${notFound != null}" th:text="${notFound}">Not Found</h2>

    <div th:unless="${notFound != null}" class="row container mt-4 mb-4  " data-masonry='{"percentPosition": true }'>


      <div class="card" th:each="mentor: ${mentors}">
        <img class="card-img-top" src="../static/image/profilePic.jpg" th:src="@{/image/profilePic.jpg}" alt="Profile Picture">
        <div class="card-body">
          <h5 class="card-title" th:text="${mentor.getTestProfile().name}">Mentee Full Name</h5>
          <p class="card-text">Current Position</p>
          <a href="#popup1" class="btn btn-primary">View profile</a>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Request message goes here. Dapibus ac facilisis in. Vestibulum at eros.</li>
        </ul>
        <div class="card-body">
            <a  class="btn btn-primary" id="accept-btn " th:href="@{'/request?requestEmail=' + ${mentor.email}}"    >Send Request</a>
        </div>
      </div>





    </div>
    <h2 >Suggested Mentor</h2>

    <div th:unless="${notFound != null}" class="row container mt-4  " data-masonry='{"percentPosition": true }'>

      <div class="card" th:each="mentorS: ${suggestedMentor}">
        <img class="card-img-top" src="../static/image/profilePic.jpg" th:src="@{/image/profilePic.jpg}" alt="Profile Picture">
        <div class="card-body">
          <h5 class="card-title" th:text="${mentorS.getUser().getTestProfile().name}">Mentee Full Name</h5>
          <p class="card-text" th:text="${mentorS.getUser().getTestProfile().jobPosition}">Current Position</p>
          <a href="#popup1" class="btn btn-primary">View profile</a>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" th:text="${mentorS.getUser().getTestProfile().description}">Request message goes here. Dapibus ac facilisis in. Vestibulum at eros.</li>
        </ul>
        <div class="card-body">
          <a  class="btn btn-primary" id="accept-btn " th:href="@{'/request?requestEmail=' + ${mentorS.getUser().email}}"    >Send Request</a>
        </div>
      </div>





    </div>

    <div id="popup1" class="overlay">
      <div class="popup" >
        <h2>Mentee Name</h2>
        <a class="close" href="#popup">×</a>
        <div class="content">
          <p>Description: The Random Word Generator is a tool to help you create a list of random words. There are many reasons one might be interested in doing this, and you're likely here because you're interested in creating a random word list. This tool can help you do exactly that.

            The tool is easy to use. All you need to do is choose the number of words you want to create (the default is five, but you can input any number you'd like) and the type of words you want. You can choose from all words, verbs only, nouns only or adjective only depending on which best meets your needs.

            Once done, you simply press the "Generate Random Words" button and a list of words will appear. You can use this list or you can scan them and choose the ones you want to keep by clicking on them. This will place them in the "Your Word List" area and you can build a new list that meets your needs.

            Below you'll find some of the common ways this tool can be used.</p>
          <p> </p>
          <p>Skills:</p>
          <p> </p>
          <p>Career Goal: ...</p>
          <p> </p>
          <p>Preferred Mentor Gender: ...</p>
          <p>Preferred Mentor Age: ...</p>
          <p>Preferred Mentor Role: ...</p>
          <p>Strengths: ...</p>
          <p>Weaknesses: ...</p>
          <p> </p>
          <p>age: ...</p>
          <p>location: ...</p>
          <p>Job Position: ...</p>
          <p>Gender: ...</p>
          <p>Field Of Work: ...</p>
          <p>Disabilities: ...</p>
        </div>
      </div>
    </div>






  </div>

</div>




</body>
</html>