<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

>
<html lang="en">
<head>
    <title>Mentor Manager Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>


    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>-->

    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="../static/css/viewCards.css" th:href="@{/css/viewCards.css}">
    <link rel="stylesheet" href="../static/css/navBar.css" th:href="@{/css/navBar.css}">
    <link rel="stylesheet" href="../static/css/matching.css" th:href="@{/css/matching.css}">

    <link rel="stylesheet" href="../static/css/viewRequests.css" th:href="@{/css/viewRequests.css}">


</head>
<main>

    <header th:replace="commonComponents :: header"></header>


        <div class="title">
            <p>Mentors Awaiting Matching</p>
        </div>
        <form  method="post" th:action="@{/processSuggestMatch}">
            <div class="row container  " data-masonry='{"percentPosition": true }'>

<!--                <div class="card" th:each="menteeRequest: ${unmatchedMentee}">-->
<!--                    <img class="card-img-top" src="../static/image/profilePic.jpg" th:src="@{/image/profilePic.jpg}" alt="Profile Picture">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title" th:text="${}">Mentee Full Name</h5>-->
<!--                        <p class="card-text">Current Position</p>-->
<!--                        <a href="#" class="btn btn-primary">View profile</a>-->
<!--                    </div>-->
<!--                    <ul class="list-group list-group-flush">-->
<!--                        <li class="list-group-item">Request message goes here. Dapibus ac facilisis in. Vestibulum at eros.</li>-->
<!--                    </ul>-->
<!--                    <div class="card-body">-->
<!--                        &lt;!&ndash;        <a  class="btn btn-primary" id="accept-btn " th:href="@{'/requestAccept?requestEmail=' + ${menteeRequest.getMentee().getUser().getEmail()}}" >Accept</a>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->



                <div class="title">
                    <p>Mentor</p>
                </div>
                <div class="card" th:each="mentor: ${mentors}" >
                    <img class="card-img-top" src="../static/image/profilePic.jpg" th:src="@{/image/profilePic.jpg}" alt="Profile Picture">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${mentor.testProfile.name}">Mentor Full Name</h5>
                        <p class="card-text" th:text="${mentor.testProfile.jobPosition}">Current Position</p>
                        <a href="#MentorPopup1" class="btn btn-primary">View profile</a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="${mentor.testProfile.description}">Request message goes here. Dapibus ac facilisis in. Vestibulum at eros.</li>
                        <li class="list-group-item"><input type="radio" id="mentor1" name="mentor" th:value="${mentor.email}" th:field="*{mentorSelected.mentor}"></li>

                    </ul>





            </div>

            <div class="row container  " data-masonry='{"percentPosition": true }'>

                <div class="title">
                    <p>Mentee</p>
                </div>
                <div th:if="${unmatchedMentee.size() >0}" class="card" th:each="i:${#numbers.sequence(0,unmatchedMentee.size()-1)}">
                    <img class="card-img-top" src="../static/image/profilePic.jpg" th:src="@{/image/profilePic.jpg}" alt="Profile Picture">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${unmatchedMentee.get(i).getTestProfile().name}">Mentor Full Name</h5>
                        <p class="card-text" th:text="${unmatchedMentee.get(i).getTestProfile().jobPosition}">Current Position</p>
                        <a href="#MenteePopup1" class="btn btn-primary">View profile</a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="${unmatchedMentee.get(i).getTestProfile().description}">Request message goes here. Dapibus ac facilisis in. Vestibulum at eros.</li>
                        <li class="list-group-item"><input type="checkbox" id="mentor1" name="mentor" th:value="${unmatchedMentee.get(i).email}" th:field="*{menteeSelected.menteeSelected[__${i}__]}"></li>

                    </ul>
                </div>

                <div id="MenteePopup1" class="move overlay ">
                    <div class="popup" >
                        <h2>Mentee Name</h2>
                        <a class="close" href="#popup">×</a>
                        <div class="content">
                            <p>sadasadsasd</p>
                            <p> </p>
                            <p>Skills:</p>
                            <p> </p>
                            <p>Career Goal: ...</p>
                            <p> </p>
                            <p>Preferred Mentor Gender: ...</p>
                            <p>Preferred Mentor Age: ...</p>
                            <p>Preferred Mentor Role: ...</p>
                            <p>Strengths: ...</p>
                            <p>Weaknesses: ...</p>
                            <p> </p>
                            <p>age: ...</p>
                            <p>location: ...</p>
                            <p>Job Position: ...</p>
                            <p>Gender: ...</p>
                            <p>Field Of Work: ...</p>
                            <p>Disabilities: ...</p>
                        </div>
                    </div>
                </div>

                <div id="MentorPopup1" class="move overlay ">
                    <div class="popup" >
                        <h2>Mentor Name</h2>
                        <a class="close" href="#popup">×</a>
                        <div class="content">
                            <p> </p>
                            <p>Skills:</p>
                            <p> </p>
                            <p>Preferred Mentee Gender: ...</p>
                            <p>Preferred Mentee Age: ...</p>
                            <p>Preferred Mentee Role: ...</p>
                            <p> </p>
                            <p>age: ...</p>
                            <p>location: ...</p>
                            <p>Job Position: ...</p>
                            <p>Gender: ...</p>
                            <p>Field Of Work: ...</p>
                            <p>Disabilities: ...</p>
                        </div>
                    </div>
                </div>



            </div>
            <button  type="submit" class="btn btn-primary submit" id="accept-btn"  >Suggest</button>

        </form>



</main>